# Idea files
.idea/*

# Mac files
.DS_Store

# Byte-compiled / optimized / DLL files
*.manifest
*.spec

# Jekyll dev or build files
_site
.sass-cache
.jekyll-metadata

_development_tool/*
*.css.map
*.scssc

# Theme Gem files
Gemfile.lock
*.gem
.gems

# Node js files
**/node_modules/*
*-test.md
*copy.md
