<!-- <div id="disqus_thread"></div>
<script type="text/javascript">
	var disqus_shortname = '{{ site.theme_settings.disqus_shortname }}';
	(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
<noscript>{{ site.theme_settings.str_javascript_required_disqus }}</noscript> -->

<!-- disqus -->
<div id="disqus_thread"></div>
<script>
	/**
	*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
	/*
	var disqus_config = function () {
	this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};
	*/
	(function () { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = 'https://http-shixiaoquan-win.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();
</script>
<noscript>
	Please enable JavaScript to view the 
	<a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
<script id="dsq-count-scr" src="//http-shixiaoquan-win.disqus.com/count.js" async></script>


<!-- gitalk -->
<!-- <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css" />
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> -->

<!-- gitment -->
<!-- <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css" />
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script> -->

<!-- <div id="comment-container"></div>
<script>
	var gitalk = new Gitalk({
		clientID: '{{ site.github_config.oauth.client_id }}',
		clientSecret: '{{ site.github_config.oauth.client_secret }}',
		repo: '{{ site.github_config.repo }}',
		owner: '{{ site.github_config.owner }}',
		admin: ['shixiaoquan'],
		// id: 'Demo',      // Ensure uniqueness and length less than 50
		// distractionFreeMode: true  // Facebook-like distraction free mode
	});
	gitalk.render('comment-container');
	var language = navigator.language || navigator.userLanguage;
	var intro = document.getElementsByClassName('hero-intro')[0];
	var beginBtn = document.getElementsByClassName('btn-begin')[0];
	var demo = document.getElementsByClassName('demo')[0];
	if (language === 'zh-TW') {
		intro.innerText = '一個基於 Github Issue 和 Preact 開發的評論插件';
		beginBtn.innerText = '開始使用';
	} else if (!~language.indexOf('zh')) {
		intro.innerText = 'A modern comment component based on Github Issue and Preact';
		beginBtn.innerText = 'GET STARTED';
		demo.innerText = 'Demo';
	}

	const gitment = new Gitment({
			owner: '{{ site.github_config.owner }}',
			repo: '{{ site.github_config.repo }}',
			oauth: {
				client_id: '{{ site.github_config.oauth.client_id }}',
				client_secret: '{{ site.github_config.oauth.client_secret }}',
			},
			// ...
			// For more available options, check out the documentation below
		})
		gitment.render('comment-container')
</script> -->
