---
layout: page
---

<div class="home">
    <!-- cycles through posts to get tags -->
    {% assign rawcategories = "" %}
    {% for post in site.posts %}
        {% if post.categories.size > 0 %}
            {% assign post_categories = post.categories | join:'|' | append:'|' %}
            {% assign rawcategories = rawcategories | append:post_categories %}
        {% endif %}
    {% endfor %}
    {% assign categories = rawcategories | split:'|' | sort | uniq %}
    <!-- Displays the posts and pages that contains the tag-->
    <div class="posts">
        {% for category in categories %}
            <h3 id="{{ category | cgi_escape }}" class="tag-anchor">
                <a>
                    <i class="fa fa-tag fa-fw"></i> 
                    {{ category }}
                </a>
                <a style="float: right">
                    <i class="fa fa-chevron-up" aria-hidden="true"> </i> 
                </a>
            </h3>

            <!-- Posts and collection for each tags -->
            <div class="tag-posts">
                <!-- Posts -->
                {% for post in site.posts %}
                    {% if post.categories contains category %}
                        <h5 class="tag-title">
                            <a href="{{ post.url | relative_url }}">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                {{ post.title }}
                            </a>
                            <div class="meta">
                                {{ post.date | date: "%B %-d, %Y" }}
                            </div>
                        </h5>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>